<!doctype html>
<html lang="en" ng-app="bookstoreApp">
<head>
  <meta charset="utf-8">
  <title>Book Store</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controller.js"></script>
</head>
<body ng-controller="BookListCtrl">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="authors">By Author</option>
          <option value="title">By Title</option>
        </select>

      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul class="books">
          <li ng-repeat="book in books | filter:query | orderBy:orderProp">
            <span>{{book.title}}</span>
            <span>{{book.authors}}</span>
            <p>{{book.description}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>
</body>
</html>
